In [9]:
library(INLA)
library(maptools)
library(spdep)

In [10]:
#read in shapefile and data
county.map = readShapePoly('CountyBoundary/cb_2018_us_county_500k.shp',IDvar="GEOID")

Warning message:
“shapelib support is provided by GDAL through the sf and terra packages among others”

In [11]:
suic<-read.csv("suicide_0515.csv",header=TRUE)

In [12]:
head(suic)

  X   county             fips year Deaths Population SuicideMortalityRate
1 117 Autauga County, AL 1001 2005 NA        NA           NA
2 117 Autauga County, AL 1001 2006 NA        NA           NA
3 117 Autauga County, AL 1001 2007 NA        NA           NA
4 117 Autauga County, AL 1001 2008 NA        NA           NA
5 117 Autauga County, AL 1001 2009 NA        NA           NA
6 117 Autauga County, AL 1001 2010 12     54571      21.9897

In [13]:
#create spatial data frame
polys<-SpatialPolygonsDataFrame(county.map,data=as.data.frame(county.map),match.ID=TRUE)

#obtain lat long coordinates
coords<-coordinates(polys)
polys$x<-coords[,1]
polys$y<-coords[,2]

#create adjacency matrix, neighbors list - here using Delaunay Triangulation
triang<-tri2nb(coords, row.names=NULL)
neib<-nb2WB(triang)
#calculate sum of number of neighbors

neib$sumnb<-sum(neib$num)
#how many neighbors for each county?

summary(neib$num)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  3.000   5.000   6.000   5.991   7.000  16.000

In [14]:
set.seed(1234)
inla.geobugs2inla(neib$adj, neib$num, graph.file="suicides_map")
countyid<-rep(1:3233,each=11) #number of counties
countyid2<- countyid #number of counties for second random effect
resid<-rep(1:35563) #number of county-year observations
year<-rep(1:11,len=3233) #year variable

[1] "suicides_map"

In [15]:
head(suic)

  X   county             fips year Deaths Population SuicideMortalityRate
1 117 Autauga County, AL 1001 2005 NA        NA           NA
2 117 Autauga County, AL 1001 2006 NA        NA           NA
3 117 Autauga County, AL 1001 2007 NA        NA           NA
4 117 Autauga County, AL 1001 2008 NA        NA           NA
5 117 Autauga County, AL 1001 2009 NA        NA           NA
6 117 Autauga County, AL 1001 2010 12     54571      21.9897

In [16]:
numerator<-suic$Deaths
denominator<-suic$Population
data<-data.frame(numerator, denominator, countyid, countyid2, resid, year)

In [17]:
formula7<-numerator~1+f(countyid,model="iid")+
f(countyid2,model="besag",graph="suicides_map")+f(year,model="rw1")+f(resid,model="iid")
result7<-inla(formula7,family="Binomial",Ntrials=denominator,data=data, verbose=TRUE, control.compute=list(dic=TRUE,cpo=TRUE))

In [18]:
#get fit statistics
result7$dic$dic;result7$dic$p.eff
# Extract the linear predictor
linear_predictor <- result7$summary.linear.predictor$mean
suicide_estimates <- (exp(linear_predictor) / (1 + exp(linear_predictor)))*100000
data$SuicideEstimates <- suicide_estimates

[1] 56964.24

[1] 2183.414

In [19]:
data

      numerator denominator countyid countyid2 resid year SuicideEstimates
1     NA            NA      1        1          1     1   19.89822
2     NA            NA      1        1          2     2   19.87076
3     NA            NA      1        1          3     3   20.03600
4     NA            NA      1        1          4     4   20.16286
5     NA            NA      1        1          5     5   20.29169
6     12         54571      1        1          6     6   20.51253
7     12         55267      1        1          7     7   20.36298
8     12         55514      1        1          8     8   20.17170
9     11         55246      1        1          9     9   20.00505
10    NA            NA      1        1         10    10   20.07467
11    NA            NA      1        1         11    11   20.13075
12    14        162183      2        2         12     1   16.96215
13    34        168121      2        2         13     2   18.38735
14    27        172404      2        2         14     3   17.91240
15    29        175827      2        2         15     4   18.11751
16    38        179406      2        2         16     5   18.87462
17    31        182265      2        2         17     6   18.38911
18    34        186717      2        2         18     7   18.44835
19    45        190790      2        2         19     8   19.10136
20    37        195540      2        2         20     9   18.33902
21    38        200111      2        2         21    10   18.40146
22    45        203709      2        2         22    11   18.93754
23    NA            NA      3        3         23     1   15.85745
24    NA            NA      3        3         24     2   15.83556
25    NA            NA      3        3         25     3   15.96726
26    NA            NA      3        3         26     4   16.06836
27    NA            NA      3        3         27     5   16.17103
28    NA            NA      3        3         28     6   16.28197
29    NA            NA      3        3         29     7   16.16806
30    NA            NA      3        3         30     8   16.01173
⋮     ⋮         ⋮           ⋮        ⋮         ⋮     ⋮    ⋮
35534 NA        NA          3231     3231      35534  3   15.84296
35535 NA        NA          3231     3231      35535  4   15.94327
35536 NA        NA          3231     3231      35536  5   16.04515
35537 NA        NA          3231     3231      35537  6   16.15522
35538 NA        NA          3231     3231      35538  7   16.04220
35539 NA        NA          3231     3231      35539  8   15.88708
35540 NA        NA          3231     3231      35540  9   15.82252
35541 NA        NA          3231     3231      35541 10   15.87354
35542 NA        NA          3232     3232      35542 11   16.87211
35543 NA        NA          3232     3232      35543  1   16.67722
35544 NA        NA          3232     3232      35544  2   16.65420
35545 NA        NA          3232     3232      35545  3   16.79270
35546 NA        NA          3232     3232      35546  4   16.89903
35547 NA        NA          3232     3232      35547  5   17.00701
35548 NA        NA          3232     3232      35548  6   17.12368
35549 NA        NA          3232     3232      35549  7   17.00388
35550 NA        NA          3232     3232      35550  8   16.83948
35551 NA        NA          3232     3232      35551  9   16.77104
35552 NA        NA          3232     3232      35552 10   16.82512
35553 NA        NA          3233     3233      35553 11   15.74321
35554 NA        NA          3233     3233      35554  1   15.56136
35555 NA        NA          3233     3233      35555  2   15.53988
35556 NA        NA          3233     3233      35556  3   15.66911
35557 NA        NA          3233     3233      35557  4   15.76833
35558 NA        NA          3233     3233      35558  5   15.86909
35559 NA        NA          3233     3233      35559  6   15.97795
35560 NA        NA          3233     3233      35560  7   15.86617
35561 NA        NA          3233     3233      35561  8   15.71276
35562 NA        NA          3233     3233      35562  9   15.64890
35563 NA        NA          3233     3233      35563 10   15.69936

In [20]:
suic

      X    county                fips  year Deaths Population
1     117  Autauga County, AL    1001  2005 NA         NA
2     117  Autauga County, AL    1001  2006 NA         NA
3     117  Autauga County, AL    1001  2007 NA         NA
4     117  Autauga County, AL    1001  2008 NA         NA
5     117  Autauga County, AL    1001  2009 NA         NA
6     117  Autauga County, AL    1001  2010 12      54571
7     117  Autauga County, AL    1001  2011 12      55267
8     117  Autauga County, AL    1001  2012 12      55514
9     117  Autauga County, AL    1001  2013 11      55246
10    117  Autauga County, AL    1001  2014 NA         NA
11    117  Autauga County, AL    1001  2015 NA         NA
12    127  Baldwin County, AL    1003  2005 14     162183
13    127  Baldwin County, AL    1003  2006 34     168121
14    127  Baldwin County, AL    1003  2007 27     172404
15    127  Baldwin County, AL    1003  2008 29     175827
16    127  Baldwin County, AL    1003  2009 38     179406
17    127  Baldwin County, AL    1003  2010 31     182265
18    127  Baldwin County, AL    1003  2011 34     186717
19    127  Baldwin County, AL    1003  2012 45     190790
20    127  Baldwin County, AL    1003  2013 37     195540
21    127  Baldwin County, AL    1003  2014 38     200111
22    127  Baldwin County, AL    1003  2015 45     203709
23    139  Barbour County, AL    1005  2005 NA         NA
24    139  Barbour County, AL    1005  2006 NA         NA
25    139  Barbour County, AL    1005  2007 NA         NA
26    139  Barbour County, AL    1005  2008 NA         NA
27    139  Barbour County, AL    1005  2009 NA         NA
28    139  Barbour County, AL    1005  2010 NA         NA
29    139  Barbour County, AL    1005  2011 NA         NA
30    139  Barbour County, AL    1005  2012 NA         NA
⋮     ⋮    ⋮                     ⋮     ⋮    ⋮      ⋮
35534 2728 St. Croix Island, VI  78010 2008 NA     NA
35535 2728 St. Croix Island, VI  78010 2009 NA     NA
35536 2728 St. Croix Island, VI  78010 2010 NA     NA
35537 2728 St. Croix Island, VI  78010 2011 NA     NA
35538 2728 St. Croix Island, VI  78010 2012 NA     NA
35539 2728 St. Croix Island, VI  78010 2013 NA     NA
35540 2728 St. Croix Island, VI  78010 2014 NA     NA
35541 2728 St. Croix Island, VI  78010 2015 NA     NA
35542 2733 St. John Island, VI   78020 2005 NA     NA
35543 2733 St. John Island, VI   78020 2006 NA     NA
35544 2733 St. John Island, VI   78020 2007 NA     NA
35545 2733 St. John Island, VI   78020 2008 NA     NA
35546 2733 St. John Island, VI   78020 2009 NA     NA
35547 2733 St. John Island, VI   78020 2010 NA     NA
35548 2733 St. John Island, VI   78020 2011 NA     NA
35549 2733 St. John Island, VI   78020 2012 NA     NA
35550 2733 St. John Island, VI   78020 2013 NA     NA
35551 2733 St. John Island, VI   78020 2014 NA     NA
35552 2733 St. John Island, VI   78020 2015 NA     NA
35553 2748 St. Thomas Island, VI 78030 2005 NA     NA
35554 2748 St. Thomas Island, VI 78030 2006 NA     NA
35555 2748 St. Thomas Island, VI 78030 2007 NA     NA
35556 2748 St. Thomas Island, VI 78030 2008 NA     NA
35557 2748 St. Thomas Island, VI 78030 2009 NA     NA
35558 2748 St. Thomas Island, VI 78030 2010 NA     NA
35559 2748 St. Thomas Island, VI 78030 2011 NA     NA
35560 2748 St. Thomas Island, VI 78030 2012 NA     NA
35561 2748 St. Thomas Island, VI 78030 2013 NA     NA
35562 2748 St. Thomas Island, VI 78030 2014 NA     NA
35563 2748 St. Thomas Island, VI 78030 2015 NA     NA
      SuicideMortalityRate
1            NA
2            NA
3            NA
4            NA
5            NA
6     21.989701
7     21.712776
8     21.616169
9     19.910944
10           NA
11           NA
12     8.632224
13    20.223529
14    15.660890
15    16.493485
16    21.181008
17    17.008202
18    18.209376
19    23.586142
20    18.921960
21    18.989461
22    22.090335
23           NA
24           NA
25           NA
26           NA
27           NA
28           NA
29           NA
30           NA
⋮     ⋮
35534 NA
35535 NA
35536 NA
35537 NA
35538 NA
35539 NA
35540 NA
35541 NA
35542 NA
35543 NA
35544 NA
35545 NA
35546 NA
35547 NA
35548 NA
35549 NA
35550 NA
35551 NA
35552 NA
35553 NA
35554 NA
35555 NA
35556 NA
35557 NA
35558 NA
35559 NA
35560 NA
35561 NA
35562 NA
35563 NA

In [21]:
# Concatenate dataframes horizontally
result <- cbind(suic, data)
head(result)

  X   county             fips year Deaths Population SuicideMortalityRate
1 117 Autauga County, AL 1001 2005 NA        NA           NA
2 117 Autauga County, AL 1001 2006 NA        NA           NA
3 117 Autauga County, AL 1001 2007 NA        NA           NA
4 117 Autauga County, AL 1001 2008 NA        NA           NA
5 117 Autauga County, AL 1001 2009 NA        NA           NA
6 117 Autauga County, AL 1001 2010 12     54571      21.9897
  numerator denominator countyid countyid2 resid year SuicideEstimates
1 NA           NA       1        1         1     1    19.89822
2 NA           NA       1        1         2     2    19.87076
3 NA           NA       1        1         3     3    20.03600
4 NA           NA       1        1         4     4    20.16286
5 NA           NA       1        1         5     5    20.29169
6 12        54571       1        1         6     6    20.51253

In [22]:
result

      X    county                fips  year Deaths Population
1     117  Autauga County, AL    1001  2005 NA         NA
2     117  Autauga County, AL    1001  2006 NA         NA
3     117  Autauga County, AL    1001  2007 NA         NA
4     117  Autauga County, AL    1001  2008 NA         NA
5     117  Autauga County, AL    1001  2009 NA         NA
6     117  Autauga County, AL    1001  2010 12      54571
7     117  Autauga County, AL    1001  2011 12      55267
8     117  Autauga County, AL    1001  2012 12      55514
9     117  Autauga County, AL    1001  2013 11      55246
10    117  Autauga County, AL    1001  2014 NA         NA
11    117  Autauga County, AL    1001  2015 NA         NA
12    127  Baldwin County, AL    1003  2005 14     162183
13    127  Baldwin County, AL    1003  2006 34     168121
14    127  Baldwin County, AL    1003  2007 27     172404
15    127  Baldwin County, AL    1003  2008 29     175827
16    127  Baldwin County, AL    1003  2009 38     179406
17    127  Baldwin County, AL    1003  2010 31     182265
18    127  Baldwin County, AL    1003  2011 34     186717
19    127  Baldwin County, AL    1003  2012 45     190790
20    127  Baldwin County, AL    1003  2013 37     195540
21    127  Baldwin County, AL    1003  2014 38     200111
22    127  Baldwin County, AL    1003  2015 45     203709
23    139  Barbour County, AL    1005  2005 NA         NA
24    139  Barbour County, AL    1005  2006 NA         NA
25    139  Barbour County, AL    1005  2007 NA         NA
26    139  Barbour County, AL    1005  2008 NA         NA
27    139  Barbour County, AL    1005  2009 NA         NA
28    139  Barbour County, AL    1005  2010 NA         NA
29    139  Barbour County, AL    1005  2011 NA         NA
30    139  Barbour County, AL    1005  2012 NA         NA
⋮     ⋮    ⋮                     ⋮     ⋮    ⋮      ⋮
35534 2728 St. Croix Island, VI  78010 2008 NA     NA
35535 2728 St. Croix Island, VI  78010 2009 NA     NA
35536 2728 St. Croix Island, VI  78010 2010 NA     NA
35537 2728 St. Croix Island, VI  78010 2011 NA     NA
35538 2728 St. Croix Island, VI  78010 2012 NA     NA
35539 2728 St. Croix Island, VI  78010 2013 NA     NA
35540 2728 St. Croix Island, VI  78010 2014 NA     NA
35541 2728 St. Croix Island, VI  78010 2015 NA     NA
35542 2733 St. John Island, VI   78020 2005 NA     NA
35543 2733 St. John Island, VI   78020 2006 NA     NA
35544 2733 St. John Island, VI   78020 2007 NA     NA
35545 2733 St. John Island, VI   78020 2008 NA     NA
35546 2733 St. John Island, VI   78020 2009 NA     NA
35547 2733 St. John Island, VI   78020 2010 NA     NA
35548 2733 St. John Island, VI   78020 2011 NA     NA
35549 2733 St. John Island, VI   78020 2012 NA     NA
35550 2733 St. John Island, VI   78020 2013 NA     NA
35551 2733 St. John Island, VI   78020 2014 NA     NA
35552 2733 St. John Island, VI   78020 2015 NA     NA
35553 2748 St. Thomas Island, VI 78030 2005 NA     NA
35554 2748 St. Thomas Island, VI 78030 2006 NA     NA
35555 2748 St. Thomas Island, VI 78030 2007 NA     NA
35556 2748 St. Thomas Island, VI 78030 2008 NA     NA
35557 2748 St. Thomas Island, VI 78030 2009 NA     NA
35558 2748 St. Thomas Island, VI 78030 2010 NA     NA
35559 2748 St. Thomas Island, VI 78030 2011 NA     NA
35560 2748 St. Thomas Island, VI 78030 2012 NA     NA
35561 2748 St. Thomas Island, VI 78030 2013 NA     NA
35562 2748 St. Thomas Island, VI 78030 2014 NA     NA
35563 2748 St. Thomas Island, VI 78030 2015 NA     NA
      SuicideMortalityRate numerator denominator countyid countyid2 resid year
1            NA            NA            NA      1        1          1     1
2            NA            NA            NA      1        1          2     2
3            NA            NA            NA      1        1          3     3
4            NA            NA            NA      1        1          4     4
5            NA            NA            NA      1        1          5     5
6     21.989701            12         54571      1        1          6     6
7     21.712776            12         55267      1        1          7     7
8     21.616169            12         55514      1        1          8     8
9     19.910944            11         55246      1        1          9     9
10           NA            NA            NA      1        1         10    10
11           NA            NA            NA      1        1         11    11
12     8.632224            14        162183      2        2         12     1
13    20.223529            34        168121      2        2         13     2
14    15.660890            27        172404      2        2         14     3
15    16.493485            29        175827      2        2         15     4
16    21.181008            38        179406      2        2         16     5
17    17.008202            31        182265      2        2         17     6
18    18.209376            34        186717      2        2         18     7
19    23.586142            45        190790      2        2         19     8
20    18.921960            37        195540      2        2         20     9
21    18.989461            38        200111      2        2         21    10
22    22.090335            45        203709      2        2         22    11
23           NA            NA            NA      3        3         23     1
24           NA            NA            NA      3        3         24     2
25           NA            NA            NA      3        3         25     3
26           NA            NA            NA      3        3         26     4
27           NA            NA            NA      3        3         27     5
28           NA            NA            NA      3        3         28     6
29           NA            NA            NA      3        3         29     7
30           NA            NA            NA      3        3         30     8
⋮     ⋮                    ⋮         ⋮           ⋮        ⋮         ⋮     ⋮
35534 NA                   NA        NA          3231     3231      35534  3
35535 NA                   NA        NA          3231     3231      35535  4
35536 NA                   NA        NA          3231     3231      35536  5
35537 NA                   NA        NA          3231     3231      35537  6
35538 NA                   NA        NA          3231     3231      35538  7
35539 NA                   NA        NA          3231     3231      35539  8
35540 NA                   NA        NA          3231     3231      35540  9
35541 NA                   NA        NA          3231     3231      35541 10
35542 NA                   NA        NA          3232     3232      35542 11
35543 NA                   NA        NA          3232     3232      35543  1
35544 NA                   NA        NA          3232     3232      35544  2
35545 NA                   NA        NA          3232     3232      35545  3
35546 NA                   NA        NA          3232     3232      35546  4
35547 NA                   NA        NA          3232     3232      35547  5
35548 NA                   NA        NA          3232     3232      35548  6
35549 NA                   NA        NA          3232     3232      35549  7
35550 NA                   NA        NA          3232     3232      35550  8
35551 NA                   NA        NA          3232     3232      35551  9
35552 NA                   NA        NA          3232     3232      35552 10
35553 NA                   NA        NA          3233     3233      35553 11
35554 NA                   NA        NA          3233     3233      35554  1
35555 NA                   NA        NA          3233     3233      35555  2
35556 NA                   NA        NA          3233     3233      35556  3
35557 NA                   NA        NA          3233     3233      35557  4
35558 NA                   NA        NA          3233     3233      35558  5
35559 NA                   NA        NA          3233     3233      35559  6
35560 NA                   NA        NA          3233     3233      35560  7
35561 NA                   NA        NA          3233     3233      35561  8
35562 NA                   NA        NA          3233     3233      35562  9
35563 NA                   NA        NA          3233     3233      35563 10
      SuicideEstimates
1     19.89822
2     19.87076
3     20.03600
4     20.16286
5     20.29169
6     20.51253
7     20.36298
8     20.17170
9     20.00505
10    20.07467
11    20.13075
12    16.96215
13    18.38735
14    17.91240
15    18.11751
16    18.87462
17    18.38911
18    18.44835
19    19.10136
20    18.33902
21    18.40146
22    18.93754
23    15.85745
24    15.83556
25    15.96726
26    16.06836
27    16.17103
28    16.28197
29    16.16806
30    16.01173
⋮     ⋮
35534 15.84296
35535 15.94327
35536 16.04515
35537 16.15522
35538 16.04220
35539 15.88708
35540 15.82252
35541 15.87354
35542 16.87211
35543 16.67722
35544 16.65420
35545 16.79270
35546 16.89903
35547 17.00701
35548 17.12368
35549 17.00388
35550 16.83948
35551 16.77104
35552 16.82512
35553 15.74321
35554 15.56136
35555 15.53988
35556 15.66911
35557 15.76833
35558 15.86909
35559 15.97795
35560 15.86617
35561 15.71276
35562 15.64890
35563 15.69936

In [23]:
write.csv(result, file = "suicide_0515_imputed.csv", row.names = FALSE)